Vista/Service References/ServiceReferenceUF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="suma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" type="xs:int" />
        <xs:element minOccurs="0" name="p2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UFResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>